@import "tailwindcss";
:root {
    --bg-nav-color: #d9d8d4;
}
.navBar{

    /*background-color: rgba(198, 194, 194, 0.66);*/
    background-color: var(--bg-nav-color);
}
.navLink-bg{
    background-color: black;
    left: 0;
}