@import "tailwindcss";
:root{
    --hero-text:30px;
    --hero-title:70px;
    --hero-description:20px;
    --home-title:80px;
    --project-home-title:30px;
    --project-home-description:15px;
    --bg-1:#181d26;

    --skill-page-card-title:30px;
}
@media (width<600px){
    .skillCard-container{
        flex-direction: column !important;
        background-color: red;
    }
    
}
@media screen and (width < 900) {
    .card{
        display: none;
        background: red;
    }
}

.showNav{
    transform: translateY(-150px);
    transition: 0.5s;
}
.hideNav{
    transform: translateY(0);
    transition: 0.5s;
}
.heroText{
    font-size:var(--hero-text) ;
}
.heroTitle{
     font-size:var(--hero-title) ;

 }
.heroContainer{
    height:980px;
}
.heroDescription{
    font-size:var(--hero-description) ;
}
.heroBgImg{
    position:absolute;
    width: 100%;
    height: 980px;
    background-image: url("/heroImg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    top:0;
    left:0;
    opacity: 0.67;
}
.heroImg:hover{

    /*position: absolute;*/
    /*bottom: -100px;*/

}
.skillHome{
    z-index: -1;
    min-height: 404px;
    background-color: var(--bg-1);

}
.skill-home-heading{
    font-size:var(--home-title) ;
}
.skillCard{
    min-width: 300px;
    /*border:10px solid red;*/
    /*box-shadow: 10px 10px 4px rgba(255, 0, 0, 0.3);*/
}



.project-Home{
    /*background-color: #212121;*/
    background-size: cover;
    background-repeat: no-repeat;

}

.project-title{
    font-size:var(--hero-title) ;
}
.project-container{
    background-color: rgba(237,112,93,0.88);
}

.project-heading-middle{
    font-size:var(--project-home-title);
}
.project-left{
    max-width:200px ;
    height: 200px;
    box-shadow: 10px 4px 8px 0 rgba(255, 255, 255, 0.2) , 0 6px 20px 0 rgba(255, 0, 0, 0.19),
0 6px 20px 0 rgba(255, 0, 0, 0.23);
    background-color: #fff;
}
.project-Home-desc {
    font-size: var(--project-home-description);
}
/* Circle.css */
.circle {
    width: 250px;
    height: 250px;
    background-color: #4f46e5; /* Indigo */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    place-self: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.circleElement{
    width: 150px;
    height: 150px;
    background: #000;
}
.contact-Home-container{
    background-color: #181d26;
    height: 980px;
}

.activeFilter{
    background-color: black;
    transition: 0.3s;
}